# Copy this file as '.env' and chagne params to your likings
SERVER_NAME=Scrublheim2026
WORLD_NAME=Scrublheim2026
PASSWORD=Scrubs2026
ISPUBLIC=true
UPDATE_CRON=0 1 * * *
UPDATE_IF_IDLE=true
IDLE_TIMEOUT=3600
RESTART_CRON=10 5 * * *
RESTART_IF_IDLE=true
TZ=UTC
BACKUPS=true
BACKUP_CRON=5 * * * *
BACKUP_MAX_AGE=7
BACKUP_DIR=/config/backups
BACKUP_IF_IDLE=true
BACKUPS_ZIP=true